* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #444;
    background: #FFF;
    font-family: Arial, sans-serif;
    position: relative;
}

.header {
    font-size: 1.5rem;
    background-image: linear-gradient(to right,#ACB6E5,#FBC7D4    );
    height: 4vh;
}

.header-links {
    padding: 10px 10px 10px 40px;
}

main {
    /* position: absolute;
    left: 50%; */
    max-width: 60rem;
    padding-left: 1.5rem;
    /* transform: translateX(-50%); */

}




pre {
    background-color: #F0F0F0;
    border: 1px solid black; 
    border-radius: 4px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 7px;
}

code {
    font-size: 0.80rem;

}


h1 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  
  h2 {
    border-bottom: 1px dotted #888;
    font-size: 1.4rem;
  }


li {
    font-size: 20px;
}

.list {
    margin-bottom: 10px;
}

.underline {
    padding-bottom: 10px;
    border-bottom: 1px dotted #888;
}